$font-stack     : "Lato", sans-serif;

$text-color     : #fff;
$title-color    : #353738;
$body-color     : #848789;
$bgDefault      : #005A8F;
$bgHighlight    : #005A8F;
$colDefault     : #005A8F;
$colHighlight   : #005A8F;

$col-md-1       : 8.33%;
$col-md-2       : 16.66%;
$hero-height    : 350px;
$picture-margin : 53px;
/*--------------------------- 

RESET BROWSER CONFIGURATIONS

---------------------------*/
@import 'reset';


/*-------------------------

END BROWSER RESET

--------------------------*/


/*--------------------------

GLOBAL CSS SETTINGS

--------------------------*/

body {
	font: 100% $font-stack;
	font-size: 16px;
	color: $body-color;
}

nav {
	border-radius: 0px;
}

h1 {
	color: $text-color;
	font-size: 40px;
	text-transform: uppercase;
	text-shadow: 0px 0px 6px #333; 
	font-family: $font-stack;
	font-weight: 700;
}

h2 {
	color: $title-color;
	text-transform: uppercase;
	font-size: 22px;
	text-align: center;
	font-weight: 600;
}

button {
	font-family: $font-stack;
	font-weight: 700;
	font-style: normal;
	padding: 10px 30px;
	border: 1px solid $bgDefault;
	background: $bgDefault;
	-webkit-transition: all .2s ease-out;
	   -moz-transition: all .2s ease-out;
	     -o-transition: all .2s ease-out;
	        transition: all .2s ease-out;
	color: $text-color;
	text-transform: uppercase;
	margin: 20px 0px;
}

button:hover {
	box-shadow: 0px 0px 25px #333; 
}

/*--------------------------

END GLOBAL CSS SETTINGS

--------------------------*/


.navbar-brand img, .nav > li > a > img {
	height: 2em;
}

.logo-right {
	margin-right: $col-md-2 !important;
}

.logo-left {
	margin-left: $col-md-2 !important;
}

.navbar-default {
  height: 30px;
  background-color: $bgDefault;
  border-color: $bgHighlight;
  margin-bottom: 0px;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; 
   	}
  }
  .brand-right {
  	padding: 5px 0px;
  }
  .brand-left {
  	padding: 8px 0px;
  }
  .navbar-header { 
  	float: none;
  }
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
     .logo-right {
     	margin-right: 10px !important;
     	float: right;
     }
     .logo-left {
     	margin-left: 10px !important;
     }
     .brand-right {
     	padding: 0px 0px !important;
     }
}

/* HERO IMAGE - HEADER */

/* container 100& width background */
.hero-image-container {
  background:url(../brand/images/HeroImage.jpg) no-repeat;
  background-size: cover;
  height: $hero-height;
  margin-top: -53px;
  box-shadow: 0px 0px 25px #333;
}

/* overriding bootstrap padding and margins */
.container-hero {padding:0;}
.row-hero {margin:0;}

/* general styles for hero-image area, will be used by all similar pages */
.hero-image {
  width: 100%; 
  display: inline-block; 
  vertical-align: middle; 
  color: transparent; 
  background-size: 100%; 
  background-position: 50% 50%; 
  background-repeat: no-repeat;
}

.hero-image h1 {
	line-height: $hero-height - $picture-margin;
	text-align: center;
	letter-spacing: 2px;
}

/* page specific bg properties using different image sizes  */
#hero-home-lg {background:url(../brand/images/HeroImage.jpg) no-repeat; width:100%; height:713px; position:relative;} /* image 1200px */
#hero-home-md {background:url(../brand/images/HeroImage.jpg) no-repeat; width:100%; height:713px; position:relative;} /* image 992px */
#hero-home-sm {background:url(../brand/images/HeroImage.jpg) no-repeat; width:100%; height:713px; position:relative;} /* image 768px */
#hero-home-xs {background:url(../brand/images/HeroImage.jpg) no-repeat; width:100%; height:713px; position:relative;} /* image 320px */

#about {
	line-height: 2;
	padding: 20px 0px;
	/*border-bottom: 5px solid $body-color;*/
}

#about h2 {
	letter-spacing: 2px;
}

#about p {
	padding-top: 15px;
}

#about ul {
	padding-left: 75px;
}

.partner-images {
	padding: 25px 0px;
}

#partners {
	padding: 25px 0px;
}