$font-stack     : "Lato", sans-serif;
$text-color     : #fff;
$title-color    : #353738;
$body-color     : #848789;
$bgDefault      : #005A8F;
$bgHighlight    : #005A8F;
$colDefault     : #005A8F;
$colHighlight   : #005A8F;

$col-md-1       : 8.33%;
$col-md-2       : 16.66%;
/* 

RESET BROWSER CONFIGURATIONS

*/
@import 'reset';


/*-------------------------*/

/*

START CUSTOM CSS

*/

body {
	font: 100% $font-stack;
}

nav {
	border-radius: 0px;
}

.navbar-brand img, .nav > li > a > img {
	height: 40px;
}

.logo-right {
	margin-right: $col-md-1 !important;
}

.logo-left {
	margin-left: $col-md-1 !important;
}

.navbar-default {
  height: 30px;
  background-color: $bgDefault;
  border-color: $bgHighlight;
  margin-bottom: 0px;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; 
   	}
  	padding: 5px 0px;
  }
  .navbar-header { 
  	float: none;
  }
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

#hero {
	background: url('../brand/images/HeroImage.jpg');
	height: 300px;
	margin-top: -53px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 25px #333;
}