/* 

RESET BROWSER CONFIGURATIONS

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-------------------------*/
/*

START CUSTOM CSS

*/
body {
  font: 100% "Lato", sans-serif; }

nav {
  border-radius: 0px; }

.navbar-brand img, .nav > li > a > img {
  height: 2em; }

.logo-right {
  margin-right: 8.33% !important; }

.logo-left {
  margin-left: 8.33% !important; }

.navbar-default {
  height: 30px;
  background-color: #005A8F;
  border-color: #005A8F;
  margin-bottom: 0px; }
  .navbar-default .navbar-brand {
    color: #005A8F; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #005A8F; }
  .navbar-default .brand-right {
    padding: 5px 0px; }
  .navbar-default .brand-left {
    padding: 8px 0px; }
  .navbar-default .navbar-header {
    float: none; }
  .navbar-default .navbar-text {
    color: #005A8F; }
  .navbar-default .navbar-nav > li > a {
    color: #005A8F; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #005A8F; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #005A8F;
    background-color: #005A8F; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #005A8F;
    background-color: #005A8F; }
  .navbar-default .navbar-toggle {
    border-color: #005A8F; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #005A8F; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #005A8F; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #005A8F; }
  .navbar-default .navbar-link {
    color: #005A8F; }
    .navbar-default .navbar-link:hover {
      color: #005A8F; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #005A8F; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #005A8F; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #005A8F;
    background-color: #005A8F; }

  .logo-right {
    margin-right: 10px !important;
    float: right; }

  .logo-left {
    margin-left: 10px !important; }

  .brand-right {
    padding: 0px 0px !important; } }
/* HERO IMAGE - HEADER */
/* container 100& width background */
.hero-image-container {
  background: url(../brand/images/HeroImage.jpg) no-repeat;
  background-size: cover;
  height: 350px;
  margin-top: -53px;
  box-shadow: 0px 0px 25px #333; }

/* overriding bootstrap padding and margins */
.container-hero {
  padding: 0; }

.row-hero {
  margin: 0; }

/* general styles for hero-image area, will be used by all similar pages */
.hero-image {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  color: transparent;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.hero-image h1 {
  line-height: 297px;
  text-align: center;
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px #333;
  font-family: "Lato", sans-serif;
  font-weight: 500; }

/* page specific bg properties using different image sizes  */
#hero-home-lg {
  background: url(../brand/images/HeroImage.jpg) no-repeat;
  width: 100%;
  height: 713px;
  position: relative; }

/* image 1200px */
#hero-home-md {
  background: url(../brand/images/HeroImage.jpg) no-repeat;
  width: 100%;
  height: 713px;
  position: relative; }

/* image 992px */
#hero-home-sm {
  background: url(../brand/images/HeroImage.jpg) no-repeat;
  width: 100%;
  height: 713px;
  position: relative; }

/* image 768px */
#hero-home-xs {
  background: url(../brand/images/HeroImage.jpg) no-repeat;
  width: 100%;
  height: 713px;
  position: relative; }

/* image 320px */

/*# sourceMappingURL=style.css.map */
